@model SIMAS.Areas.Administrador.Models.NoticiasViewModel
@{
    Layout = "~/Areas/Administrador/views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/css/agregar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>



<div class="card mb-3" id="card-admin" style="margin-top: 10%;">
    <div class="card-header">
        <h3> <i class="fas fa-plus"></i> <span>Añadir noticia</span></h3>
    </div>
    <div class="card-body">
        <form action="~/Administrador/Noticias/AgregarNoticia" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Encabezado</label>
                <input asp-for="Encabezado" name="Encabezado" type="Text" class="form-control" id="name" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ0-9 ]+$" title="El nombre de la noticia no puede contener caracteres especiales." aria-describedby="name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Autor</label>
                <input class="form-control" id="name" asp-for="Autor" name="Autor" type="Text" aria-describedby="name">
                <small id="name" class="form-text text-muted">use solo letras</small>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Seleccione una fecha</label>
                <input class="form-control" asp-for="Fecha" name="Fecha" type="date">
            </div>

            <div class="form-group">
                <label for="desc">Escriba una breve descripción</label>
                <textarea class="form-control" asp-for="DescripcionCorta" name="DescripcionCorta" id="desc" rows="2" style="resize: none;  overflow-y: auto;"></textarea>
            </div>

            <div class="form-group">
                <label for="desc">Cuerpo de la noticia</label>
                <textarea class="form-control" asp-for="Cuerpo" name="Cuerpo" id="desc" rows="10" style="resize: none;  overflow-y: auto;"></textarea>
            </div>

            <div class="input-group" style=" margin-top: 2%; margin-bottom: 2%;">
                <input type="file" asp-for="Foto" name="Foto lang=" es"" accept="image/jpeg" class="custom-file-input" id="inputGroupFile04">
                <label class="custom-file-label" for="inputGroupFile04">Subir foto principal</label>
                <small id="name" class="form-text text-muted">(formato .jpg)</small>
            </div>

            <div class="input-group" style="margin-bottom: 4%;">
                <input type="file" asp-for="Fotos" name="Fotos" lang="es" class="custom-file-input" id="inputGroupFile04" multiple>
                <label class="custom-file-label" for="inputGroupFile04">Subir galería de fotos</label>
                <small id="name" class="form-text text-muted">(formato .jpg)</small>
            </div>

            <label for="basic-url">Video de la noticia el enlace debe ser de YouTube.com</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input type="url" asp-for="VideoURL" name="VideoURL" class="form-control" id="basic-url" pattern=".+(youtube.com).+" aria-describedby="basic-addon3">
            </div>

            @Html.ValidationSummary()


            <input type="submit" class="btn btn-primary" value="Agregar">
            <a class="btn btn-primary" href="~/Administrador/Noticias">Cancelar</a>

           

        </form>
    </div>
</div>
