@model SIMAS.Areas.Administrador.Models.NoticiasViewModel
@{
    Layout = "~/Areas/Administrador/views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/css/agregar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="card mb-3" id="card-admin" style="margin-top: 10%;">
    <div class="card-header">
        <h3> <i class="fas fa-edit"></i> <span>Editar noticia</span></h3>
    </div>
    <div class="card-body">

        <form action="~/Administrador/Noticias/EditarNoticia" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="idNoticias" />
            <div class="form-group">
                <label for="exampleInputEmail1">Encabezado</label>
                <input asp-for="Encabezado" name="Encabezado" type="Text" class="form-control" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ0-9 ]+$" title="El nombre de la noticia no puede contener caracteres especiales." id="name" aria-describedby="name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Autor</label>
                <input class="form-control" id="name" asp-for="Autor" name="Autor" type="Text" aria-describedby="name">
                <small id="name" class="form-text text-muted">use solo letras</small>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Seleccione una fecha</label>
                <input class="form-control" asp-for="Fecha" name="Fecha" type="date">
            </div>

            <div class="form-group">
                <label for="desc">Escriba una breve descripción</label>
                <textarea class="form-control" asp-for="DescripcionCorta" name="DescripcionCorta" id="desc" rows="2" style="resize: none;  overflow-y: auto;"></textarea>
            </div>

            <div class="form-group">
                <label for="desc">Cuerpo de la noticia</label>
                <textarea class="form-control" asp-for="Cuerpo" name="Cuerpo" id="desc" rows="10" style="resize: none;  overflow-y: auto;"></textarea>
            </div>

            <div class="input-group" style="margin-bottom: 2%;">
                <input type="file" asp-for="Foto" name="Foto" accept="image/jpeg" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Subir foto principal</label>
                <small id="name" class="form-text text-muted">(formato .jpg)</small>
            </div>


            <div class="input-group" style="margin-bottom: 4%;">
                <input type="file" asp-for="Fotos" name="Fotos" lang="es" accept="image/jpeg" class="custom-file-input" id="inputGroupFile04" multiple>
                <label class="custom-file-label" id="seleccionar-archivos" for="inputGroupFile04">Subir galería de fotos</label>
                <small id="name" class="form-text text-muted">(formato .jpg)</small>
            </div>


            <label for="basic-url">Video de la noticia el enlace debe ser de YouTube.com</label>
            <div class="input-group mb-3">
                <input type="url" asp-for="VideoURL" name="VideoURL" class="form-control" id="basic-url" title="El video tiene que ser de Youtube." pattern=".+(youtube.com).+" aria-describedby="basic-addon3">
            </div>

            @Html.ValidationSummary()


            <input type="submit" class="btn btn-primary" value="Agregar">
            <a class="btn btn-primary" href="~/Administrador/Noticias">Cancelar</a>
        </form>
    </div>

    <script>
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            var fileName = document.getElementById("inputGroupFile01").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        });
    </script>

    <script>
        $("#inputGroupFile04").change(function () {
            $("#seleccionar-archivos").text(this.files.length + " archivos cargados");
        });

        $("#seleccionar-archivos").click(function () {
            $("#files").click();
        });
    </script>

</div>