
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/formasdepago.css">
<section style="height: 200px;">
    <h1 class="encabezado">Centros y formas de pago</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <h3 class="titulo-2">¿Dónde realizar sus pagos?</h3>
        <p>SIMAS Sabinas pendiente de un mejor servicio y facilidad de sus pagos, pone a disposición de la comunidad diferentes centros a los que puede usted acudir y liquidar su adeudo.</p>
    </div>
    <div class="segundo-texto">
        <h3 class="subtitulo">Centros de pago</h3>
        <ul style="list-style-type: disc">
            <li>
                Oficinas SIMAS Sabinas
                Priv. Roberto Dávila 357 Nte.
            </li>
            <li>
                Oficinas en Agujita: Centro de Desarrollo Comunitario
                sobre Carr. 57 en Agujita
            </li>
            <li>Farmacia del Pueblo (Cloete)</li>
        </ul>
        <h1 class="subtitulo"
            style="margin-top: 20px; margin-bottom: -30px;">
            Puedes pagar en
        </h1>
        <section class="logos" style="margin-top: 20px;">
            <div class="logo">
                <img class="gutierrez" src="~/icons/gutierrez.png">
            </div>
            <div class="logo">
                <img class="express57" src="~/icons/express57.png">
            </div>
            <div class="logo">
                <img class="oxxo" src="~/icons/oxxo.png">
            </div>
            <div class="logo">
                <img class="simas" src="~/img/Logosimas.jpg">
            </div>
        </section>
        <section class="transferencia">
            <h1 class="subtitulo">Transferencia electrónica </h1>
            <div>
                <h3>Datos para la transferencia</h3>
                <p>Banco: SANTANDER</p>
                <p>CLABE: 014077180001171767</p>
                <p>Cuenta: 1800011717-6</p>
                <p style="margin-top: 15px;">Si usted realizó una transferencia a nuestra cuenta favor de reportarlo <br>al siguiente correo:</p>
                <p style="font-weight: 700;">ingresos@simassabinas.com.mx</p>
            </div>
        </section>
    </div>

</section>