
@{
    Layout = "_Layout";
}



<link rel="stylesheet" href="../css/contratos.css">
<section class="seccion-requisitos">
    <h1 class="encabezado">Contratos</h1>
    <hr class="linea-titulo-abajo">
    <div class="contratos-container">
        <h3 class="subtitulo">Requisitos</h3>
        <ul class="requisitos" style="list-style-type: disc">
            <li>
                Obtener en presidencia el No. oficial de su terreno (predio) en el departamento de obras públicas.
            </li>
            <li>Acudir a las oficinas de Simas Sabinas con su No. de terreno para realizar los trámites de contratación del servicio de agua.</li>
            <li>
                De acuerdo al estudio realizado se procede a la contratación de agua y en su defecto de dreneaje.
            </li>
            <li>
                La toma de agua puede ser tipo cota, larga, con preparació o con arco dependiendo de su terreno.
            </li>
        </ul>
        <h3 class="subtitulo">Recomendación importante</h3>
        <p>
            Colocar en su predio (ubicación de su terreno) el número de casa a la vista, así nuestras cuadrillas encontrarán más rápido la localización y acelerar el trámite de intalación.
        </p>
    </div>
</section>
<h1 class="encabezado">Servicios y costos</h1>
<section class="servicios">
    <div class="servicios-container">
        <div class="box">
            <div class="icon">01</div>
            <div class="content">
                <h3>Doméstico</h3>
                <p>Conexión de agua: $770.00</p>
                <p>Contrato de drenaje: $2,422.00</p>
                <p>Contrato de mano de obra varia dependiendo del material requerido para la instalación.</p>
            </div>
        </div>
        <div class="box">
            <div class="icon">02</div>
            <div class="content">
                <h3>Comercial</h3>
                <p>Conexión de agua: $2900.00</p>
                <p>Contrato de drenaje: $2,422.00</p>
                <p>Contrato de mano de obra varia dependiendo del material requerido para la instalación.</p>
            </div>
        </div>
        <div class="box">
            <div class="icon">03</div>
            <div class="content">
                <h3>Reconexión Doméstico</h3>
                <p>Por suspención remantelación: $54.00</p>
                <p>Por cancelación por 6 meses: $200.00</p>
                <p>Si sobrepasa el año (recontratación): $770.00</p>
            </div>
        </div>
        <div class="box">
            <div class="icon">04</div>
            <div class="content">
                <h3>Reconexión Comercial</h3>
                <p>Por suspención remantelación: $54.00</p>
                <p>Por cancelación por 6 meses: $200.00</p>
                <p>Si sobrepasa el año (recontratación): $2900.00</p>
            </div>
        </div>
    </div>
</section>