
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="css/lightbox.min.css">
<link rel="stylesheet" href="../css/cuidaelagua.css">

<section style="height: 200px;">
    <h1 class="encabezado">Aprendamos a cuidar el agua</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <h2 class="subtitulo">¿Qué estamos haciendo en Sabinas por el agua?</h2>
        <p>Ante la creciente y urgente necesidad de desarrollar mecanismos para informar a la sociedad sobre la situación del agua en Coahuila, surge la creación del programa EL AGUA ES TU AMIGA; con el objetivo de proporcionar a la población de sacinas la información y alternativas que permitan logar el uso eficiente del recurso y así modificar hábitos y actitudes que ayuden a usar, preservar y reutilizar el agua. <br> Sigue los siguientes tips para ahorrar agua:</p>
    </div>
</section>
<section class="sistema">
    <div class="sistema-texto">
        <h3>Sistema economizador de agua</h3>
        <p>Coloca una botella cerrada con agua de medio litro en el interior de la caja del WC y ahorraras por lo menos <br> 1,000 litros de agua al año.</p>
    </div>
    <div class="sistema-imagen">
        <img src="~/img/botella.jpg">
    </div>
</section>
<section class="funciones">
    <div class="primer-texto">
        <h2 class="subtitulo">Bañate con regadera de mano</h2>
        <p>
            Con esta sencilla acción se ahorran muchos litros de agua por cada baño que tomes
            así podras cerrar la llave miestras te enjabonas y el agua no será desperdiciada.
        </p>
        <h2 class="subtitulo">Al enjuagar los platos...</h2>
        <p>Enjuagalos todos juntos y con la llave abierta solo a la mitad, recuerda que una llave abierta consume hasta 12 litros por minuto.</p>
    </div>
</section>
<h2 class="subtitulo otros" style="margin-left: 12%; margin-top: -2%;">Otros tips para el ahorro de agua</h2>
<section class="galeria">
    <a href="/img/infografia1.jpg" data-lightbox="roadtrip">
        <img src="~/img/infografia1.jpg" alt="">
    </a>
    <a href="/img/infografia2.jpg" data-lightbox="roadtrip">
        <img src="~/img/infografia2.jpg" alt="">
    </a>
    <a href="/img/infografia3.jpg" data-lightbox="roadtrip">
        <img src="~/img/infografia3.jpg" alt="">
    </a>
    <a href="/img/infografia4.png" data-lightbox="roadtrip">
        <img src="~/img/infografia4.png" alt="">
    </a>
    <a href="/img/infografia5.png" data-lightbox="roadtrip">
        <img src="~/img/infografia5.png" alt="">
    </a>
</section>
<h2 class="subtitulo fuente" style="margin-left: 12%; font-size: 16px; margin-top: 2%; margin-bottom: 5%;">Fuente: Sunass</h2>


<script src="js/lightbox-plus-jquery.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/app.js"></script>
