
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/culturadelagua.css">

<section style="height: 200px;">
    <h1 class="encabezado">Cultura del agua</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <h2 class="subtitulo">¿Qué es?</h2>
        <p class="izquierda">Es un proceso continuo de producción, actualización y transformación individual y colectiva de valores, creencias, percepciones, conocimientos, tradiciones, aptitudes, actitudes y conductas con relación al AGUA en la vida cotidiana.</p>
        <p>Es por ello que la Comisión Estatal de Aguas y Saneamiento de Coahuila esta comprometida por llevar a cabo acciones y programas encaminados a difundir una cultura enfocada hacia el uso racional y adecuado del agua que cree conciencia sobre la problemática actual tratando de evitar que esta no trascienda hacia las generaciones futuras.</p>
    </div>
</section>
<section class="misionvision">
    <div class="mision">
        <h3>Misión</h3>
        <p>Lograr en los habitantes de Sabinas una mayor resposabilidad con el recurso hídrico, alentando la participación de la población con acciones y prácticas que generen un impacto positivo en el medio anbiente y el uso, cuidado y pago del agua.</p>
    </div>
    <div class="vision">
        <h3>Visión</h3>
        <p>Que la ciudadanía adquiera información y conocimiento por medio de Simas Sabinas, lo concerniente al recurso hídrico, promoviendo en la población un acercamiento y confianza entre las autoridades del ayuntamiento, y del Departamento de Cultura del Agua, logrando en conjunto propuestas, particpación y soluciones a diferentes <br> problemas relacionados con el agua.</p>
    </div>
</section>
<section class="funciones">
    <div class="primer-texto">
        <h2 class="subtitulo">Funciones</h2>
        <ul style="list-style: disc;">
            <li>
                Promover y coordinar campañas sobre el cuidado del agua en poblaciones donde el sistema
                tiene presencia
            </li>
            <li>Solicitar el apoyo de las escuelas para promover entre los niños el cuidado del agua</li>
            <li>Supervisar la dosificación del cloro en el agua en puntos fijos en la red de agua</li>
            <li>Realizar muestreo para que el agua cuente con las normas requeridas por la SSA</li>
            <li>Capacitar al presonal del sistema en el cuidao y trato del agua</li>
            <li>Platicas educativas</li>
            <li>Apoyar en reparación de fugas a escuelas públicas y privadas</li>
            <li>Dar a conocer las actividades de cultura del agua a medios de comunicación</li>
        </ul>
        <h2 class="subtitulo">Objetivos estratégicos</h2>
        <ul style="list-style: disc;">
            <li>Informar a al ciudadanía lo que es Simas Sabinas, las funciones que se realizan concretamente para proveer de agua a cada hogar y así concientizar a la población de dar en forma oportuna y sistemática el pago por servicio del Agua potable.</li>
            <li>Promover y fomentar una cultura del agua y educación ambiental a din de contar con niños, jóvenes y adultos capaces de comprender que la supervivencia del hombre, radica entre la interacción del agua y el medio ambiente con la sociedad. Para generar en la población hábitos de optimización del agua y realización de acciones en beneficio del medio ambiente del Municipio.</li>
        </ul>
        <h2 class="subtitulo">Nuestras metas</h2>
        <ul style="list-style: disc;">
            <li>Lograr que los habitantes de Sabinas comprendan que el agua es un recurso limitado y vital, motivo por el cual necesitamos darle un uso adecuado</li>
            <li>Lograr que la población adopte actitudes, hábitos racionales y responsables con respecto al consumo del agua para evitar el derroche y crear así una cultura del agua en los hábitantes de Sabinas</li>
        </ul>
    </div>
</section>