
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/facturacionelectronica.css">

<section style="height: 200px;">
    <h1 class="encabezado">Facturación electrónica</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <h3 class="titulo-2">¿Qué es?</h3>
        <p>Desde mayo del 2004 fue aprobada por el Servicio de Administración Tributaria (SAT) como un esquema de comprobación fiscal.</p>
        <p> La factura electrónica tiene la misma validez que una factura impresa: ambas sirven para comprobar la realización de una transacción comercial entre un comprador y un vendedor, comprometer la entrega de un bien o servicio y obligar a realizar el pago correspondiente, de acuerdo con lo establecido en el propio documento. Es utilizada por el comprador y por el vendedor como comprobante ante las autoridades y en las auditorías internas.<br>La factura electrónica puede ser enviada, archivada y transmitida por medios electrónicos, pero también es posible imprimirla bajo las especificaciones del SAT, en caso de que así se requiera.</p>
    </div>
    <div class="segundo-texto">
        <h3 class="subtitulo">Razones para solicitarla</h3>
        <p>Este funciona cuando el agua penetra en la cámara de medición produciendose el movimiento de una turbina o pistón de empuje del agua y esto mueve los números y nos genera una lactura de consumo</p>
        <ul style="list-style-type: disc">
            <li>
                Reduce tiempos y procesos administrativos, brinda rapidez y seguridad en el intercambio de información y agiliza la recepción de mercancía, lo cual se traduce en ahorros y en un importante incremento de la productividad.
            </li>
            <li>
                Logra ahorros mayores a 50% de los costos en el proceso de facturación (en gastos de papelería, bodegas de almacenaje y envíos).
            </li>
            <li>Asegura confidencialidad en el manejo, resguardo y envío de facturas. </li>
            <li>Disminuye la posibilidad de falsificación: a una persona le llevaría 10 años decifrar el código de una llave privada asociada a un certificado de sello digital, en comparación con los 30 minutos que le tomaría a un falsificador copiar una firma en papel.</li>
        </ul>
    </div>
    <div class="segundo-texto">
        <h3 class="subtitulo">Requisitos para expedición de factura</h3>
        <p>Acudir a nuestras instalaciones, presentando información de su negocio:</p>
        <ul style="list-style-type: disc">
            <li>Nombre de su empresa</li>
            <li>Dirección</li>
            <li>Teléfono</li>
            <li>RFC</li>
            <li>Correo electrónico</li>
        </ul>
    </div>
</section>