
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="css/lightbox.min.css">
<link rel="stylesheet" href="css/galeria.css">


<section class="section-titulo">
    <h1 class="encabezado">Galeria SIMAS </h1>
    <hr class="linea-titulo-abajo">
</section>
<section class="galeria">

    <a href="img/1.jpg" data-lightbox="roadtrip">
        <img src="img/1.jpg" alt="">
    </a>
    <a href="img/2.jpg" data-lightbox="roadtrip">
        <img src="img/2.jpg" alt="">
    </a>
    <a href="img/3.jpg" data-lightbox="roadtrip">
        <img src="img/3.jpg" alt="">
    </a>
    <a href="img/4.jpg" data-lightbox="roadtrip">
        <img src="img/4.jpg" alt="">
    </a>
    <a href="img/5.jpg" data-lightbox="roadtrip">
        <img src="img/5.jpg" alt="">
    </a>
    <a href="img/6.jpg" data-lightbox="roadtrip">
        <img src="img/6.jpg" alt="">
    </a>
    <a href="img/7.jpg" data-lightbox="roadtrip">
        <img src="img/7.jpg" alt="">
    </a>
    <a href="img/8.jpg" data-lightbox="roadtrip">
        <img src="img/8.jpg" alt="">
    </a>
    <a href="img/9.jpg" data-lightbox="roadtrip">
        <img src="img/9.jpg" alt="">
    </a>
    <a href="img/10.jpg" data-lightbox="roadtrip">
        <img src="img/10.jpg" alt="">
    </a>
    <a href="img/11.jpg" data-lightbox="roadtrip">
        <img src="img/11.jpg" alt="">
    </a>
    <a href="img/12.jpg" data-lightbox="roadtrip">
        <img src="img/12.jpg" alt="">
    </a>
    <a href="img/13.jpg" data-lightbox="roadtrip">
        <img src="img/13.jpg" alt="">
    </a>
    <a href="img/14.jpg" data-lightbox="roadtrip">
        <img src="img/14.jpg" alt="">
    </a>
    <a href="img/15.jpg" data-lightbox="roadtrip">
        <img src="img/15.jpg" alt="">
    </a>
</section>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" style="color:#727471;" href="#">1</a></li>
        <li class="page-item"><a class="page-link" style="color: #727471;" href="#">2</a></li>
        <li class="page-item"><a class="page-link" style="color: #727471;" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" style="color: #727471;" href="#">Siguiente</a>
        </li>
    </ul>
</nav>

