
@{
    Layout = "_Layout";
}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/historia.css">

<section id="hero">
    <div class="container topmargin-lg">
        <div class="content-center topmargin-lg">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div>
            <h1 class="h1 h1-titulo"><u>Historia</u></h1>
            <p class="texto-historia">
                Desde el año de 1966 representantes de cada municipio de la región carbonífera solicitaron al Gobierno Federal la necesidad de contar con un sistema de agua potable para abastecer a toda la región, dicha petición se le hizo llegar personalmente en aquel año al C. Presidente de la república Gustavo Díaz Ordaz, así mismo al Candidato Lic. Luis Echeverría Álvarez.
                A partir de esas solicitudes la Secretaria de Recursos Hidráulicos en 1969 hizo los estudios necesarios para construir el sistema de agua potable para la Región Carbonífera.
            </p>
            <p class="texto-gris">
                1970 un año inolvidable para la región carbonífera, ya que vieron como todas las compañías contratadas para construir el sistema, se unieron para formar un solo equipo y realizar al mismo tiempo las diferentes obras, la línea de conducción general a cargo de la empresa ECONSA Empresa y Construcciones del Norte, con el mismo entusiasmo Las redes de distribución en las poblaciones fueron construidas por Ingeniería Monclova.
            </p>
            <p class="texto-historia">
                Las líneas de alimentación a las poblaciones a cargo de Compañía LOSA así mismo los tanques reguladores de presión a cargo de TH construcciones y los que se encargaron de hacer las tomas domiciliarias fueron la compañía PALAPA. Todo esto en aproximadamente seis años de arduo trabajo, empeño y dedicación para que la Región Carbonífera contara con un sistema de agua potable de calidad.
            </p>
            <img class="imagen-abajo-texto" src="~/img/simas.jpg">
            <div style="margin-top: 25px" ;>
                <p class="texto-historia">
                    Los mantos acuíferos, hoy conocidos como ZONA DE CAPTACIÓN AURA, De donde se provee en la actualidad el servicio de este vital líquido a los municipios de Progreso, Múzquiz, San Juan de Sabinas y Sabinas, fueron descubiertos mediante dos etapas de exploración por el geólogo e ingeniero alemán, Heinz Lesser Jones en el año de 1970, quien en ese entonces trabajaba para la Secretaria de Recursos Hidráulicos del gobierno federal. La primera exploración fue en el punto llamado "Las Rusias" ubicado entre la población de Palaú y la cabecera municipal de Melchor Múzquiz, en la cual se hacen tres perforaciones de hasta dos mil metros de profundidad, con resultados negativos en cuanto a gasto, ya que no cumplieron con la cantidad de agua requerida, La segunda exploración se llevó a cabo a un costado de la Sierra de Santa Rosa de Lima, ahí se realizaron siete perforaciones de las cuales la número cuatro y número seis resultaron negativas, por no cumplir con la cantidad de agua requerida, mientras que las restantes fueron todo un éxito, por mencionar la primera perforación denominada "Aura uno", esta resultó brotante o artesiano: (pozo a través del cual el agua fluye a la superficie sin bombear) mismo que aportó un gasto aproximado de sesenta litros por segundo.
                </p>
            </div>
            <div class="texto-izq">
                <img class="imagen-abajo-texto" src="~/img/simas2.jpg">

                <p class="texto-historia">
                    Años después se realizaron dos perforaciones más, la número ocho y número nueve con una profundidad de seiscientos metros, aportando ciento veinte, y ciento treinta litros por segundo respectivamente. Posteriormente, encontrando los mantos acuíferos aceptables, se hacen los proyectos y estudios correspondientes para la construcción de un acuaférico (línea de conducción general) de 30 pulgadas de diámetro para proporcionar agua potable a las poblaciones de los cuatro municipios, con una longitud aproximada de setenta y ocho kilómetros, partiendo de Zona de Captación Aura, La Luz, San José De Aura, La Florida, Barroterán, Estación Barroterán, Ejido Esperanzas, Esperanzas, Ejido La Mota, Rancherías, Palaú, Ejido La Cuchilla, San Juan De Sabinas, Ejido Paso Del Coyote, Ejido Purísima, Nueva Rosita, <br> San José De Cloete, Villa De Agujita y Sabinas.</br>
                </p>
            </div>
            <div>
                <p class="texto-historia">
                    A finales de 1976 se creó en la ciudad de Sabinas, Coahuila, la Junta Administradora de Agua Potable de la Región Carbonífera, hoy simas (sistema intermunicipal de aguas y saneamiento), esto para administrar el servicio en los diferentes municipios, en la cual comenzaron trabajando gran parte del personal que se encargó de construir la línea de conducción, misma que hasta la fecha gracias al buen desempeño de todo el personal que integra el departamento técnico, el liquido vital llega a sus hogares con la calidad que nos distingue, así mismo agradeciendo a los pioneros en la gerencia de esta empresa como fueron: El Ing. Álvaro Pérez Treviño, El C. Julio Galán de la Peña, El C. Rogelio Herrera Rico y El C. Gabino Villarreal Vaquera y Don Jesus Adalberto Ruiz de la Rosa, a ellos quienes lograron que la región carbonífera no sufriera mas por falta de este vital liquido. Cabe destacar que a lo largo de las administraciones subsecuentes se han logrado avances importantes para esta dependencia, con la implementación de tecnología de punta, poniendo muy en alto el nombre de Sabinas, Coahuila y así mismo como ejemplo a nivel estatal, todo esto se logro gracias a la integración de un equipo de profesionales en el ramo, comprometidos con su empresa y demostrando día a día su gran empeño y dedicación para que llegue a sus hogares un excelente servicio con calidad garantizada.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="https://kit.fontawesome.com/c1a10add69.js" crossorigin="anonymous"></script>