
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/leermedidor.css">

<section style="height: 200px;">
    <h1 class="encabezado">Aprende a leer tu medidor de agua</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <h3 class="titulo-2">Lectura</h3>
        <p>Se toman del contador principal los cuatro números de la izquierda que indican m³ (0285). Para calcular el consumo se resta la lectura actual menos la del mes anterior:</p>
        <ul style="list-style-type: disc">
            <li>Lectura Actual: 0285</li>
            <li>Lectura Anterior: 0230</li>
            <li>Resultado: 0055</li>
            <li>Consumo del mes 55m³</li>
        </ul>
        <ul class="lista-dos" style="list-style-type: square">
            <li>
                Las agujas del medidor marcan fracciones de m³, cuando ellas giran significan que están haciendo uso del servicio.
            </li>
            <li>
                Para revisar si tiene fuga, cierre todas las llaves y lea su medidor, si las agujas giran significa que tiene fuga interna.
            </li>
            <li>
                Si usted no repara las fugas, el medidor registrara todo ese desperdicio de agua y usted tendrá que PAGARLO.
            </li>
            <li>
                Se toman del contador principal los cuatro números de la izquierda que indican m³ (0285).
            </li>
        </ul>
    </div>
    <div class="segundo-texto">
        <h3 class="subtitulo">Conociendo tu medidor</h3>
        <p>Este funciona cuando el agua penetra en la cámara de medición produciendose el movimiento de una turbina o pistón de empuje del agua y esto mueve los números y nos genera una lactura de consumo</p>
        <h5 class="subtitulo">Sus componentes:</h5>

        <div class="texto-izquierda">
            <div class="img-derecha">
                <img src="img/medidor.jpg">
            </div>
            <div>
                <h5>1) El contador</h5>
                <p class="texto-largo">Es la parte del medidor que nos indica la cantidad de agua que paso en determinada cantidad de tiempo, utiliza la medición en metro cúbicos (m3). 1m3= 1000 litros de agua.</p>

                <h5>2) Control de bajo flujo</h5>
                <p class="texto-largo">Es la pequeña pieza giratoria en el centro del medidor y es importante aliado en la detección de fugas, si todas las llaves éstan cerradas y aún sigue girando esto indica que tenemos una fuga.</p>

                <h5>3) Cintillo de protección</h5>
                <p>Es indispensable protegerlo debido a que si se rompe</p>

                <p>Hay 2 tipos de medidores:</p>
                <ul style="list-style-type: disc">
                    <li>El primero tiene una aguja roja que mide los m3 consumidos</li>
                    <li>El segundo tipo tiene 4 pequeños medidores que marcan el consumo</li>
                </ul>

                <p>En caso de la lectura del medidor puede haber 2 tipos de números NEGROS, estos indican el consumo en m3, marcan milésimas, centésimas y decimas de m3.</p>
            </div>
        </div>
    </div>
</section>