
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/nosotros.css">
<section id="hero">
    <div class="container topmargin-lg">
        <div class="content-center topmargin-lg">
            <h1>Historia</h1>
            <p>Desde el año de 1966 representantes de cada municipio de la región carbonífera solicitaron al Gobierno Federal la necesidad de contar con un sistema de agua potable para abastecer a toda la región...</p>
            <a href="~/Historia" class="btn btn-light topmargin-sm">Leer más</a>
        </div>
    </div>
</section>
<section class="seccion-mision">
    <div class="container-fluid">
        <div class="content-center">
            <h2>Misión</h2>
            <p>Garantizar a la población del municipio de Sabinas el suministro de los servicios de agua potable, alcantarillado y saneamiento en la cantidad y calidad adecuada para su desarrollo humano y económico, velando por un uso racional y sustentable del agua y la preservación del ambiente</p>
        </div>
    </div>
</section>

<section class="seccion-vision" style="background-color: #246eb9;">
    <div class="contenedor">
        <div class="izq">
            <img src="~/img/simas3.jpg">
        </div>
        <div class="der">
            <div class="der-texto">
                <h2 style="color: white;">Visión</h2>
                <p style="color: white;">Cubrir al máximo las necesidades de agua y saneamiento del municipio de Sabinas a través de un mejoramiento continuo y trabajo conjunto de calidad en la presentación de servicios por parte del organismo.
            </div>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="topmargin-xs">
        <div class="valores">
            <h2>Valores</h2>
            <p>-Honestidad <br> -Lealtad <br> -Espiritu de servicio <br> -Responsabilidad</p>
        </div>
    </div>
</section>