@model IEnumerable<SIMAS.Models.Noticias>
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/listanoticias.css">

<section style=" height: 200px;">
    <h1 class="encabezado">Noticias SIMAS</h1>
    <hr class="linea-titulo-abajo">
</section>
<section class="seccion-noticias" style="margin-bottom: 10px;">

    @foreach (var item in Model)
    {
        <div class="contenedor">
            <div class="noticia">
                <div class="imagen-noticia">
                    <img src="~/noticias/@(item.IdNoticias).jpg">
                </div>
                <div class="nombre-noticia">
                    <a href="~/Noticia/@item.Encabezado.Replace(" ", "_")" class="nombre-noticia"> @item.Encabezado</a>
                </div>
            </div>
        </div>
    }
</section>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" style="color:#727471;" href="#">1</a></li>
        <li class="page-item"><a class="page-link" style="color: #727471;" href="#">2</a></li>
        <li class="page-item"><a class="page-link" style="color: #727471;" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" style="color: #727471;" href="#">Siguiente</a>
        </li>
    </ul>
</nav>
