
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/beneficiospensionado.css">
<section style="height: 200px;">
    <h1 class="encabezado">Beneficios del pensionado</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <h3 class="titulo-2">¿Es usted pensionado?</h3>
        <p>Si es usted pensionado por parte de IMSS, INSEN, ISSSTE tiene derecho a un descuento sobre su recibo de agua. 50% sobre el consumo hasta los 50 mts cúbicos (a partir del mínimo).</p>
        <p> Es necesario que acuda a las oficinas de Simas Sabinas para realizar el trámite correspondiente y así obtener su credencial de pensionado, una vez que ya obiene su tarjeta NO es necesario que la presente cada mes para obtener su descuento, ya que este ya aparece aplicado sobre el total a pagar a la hora de emitir el recibo de agua.</p>
    </div>
    <div class="segundo-texto">
        <h3 class="subtitulo">¿Qué datos necesita?</h3>
        <ul style="list-style-type: disc">
            <li>Copia del talón de pago de la pensión (si se cobra por el banco hoja de reolución del IMSS o estado de cuenta)</li>
            <li>Copia de credencial de elector</li>
            <li>Copia de credencial de pensionado. (IMSS, ISSSTE, INSEN, etc.)</li>
            <li>Copia del recibo de agua</li>
            <li>2 fotografías recientes</li>
        </ul>
        <p>NOTA: Se realizará un estudio socioeconómico.</p>
    </div>
</section>