
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/preguntasfrecuentes.css">
<link rel="stylesheet" href="js/app.js">

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow zoomIn">
                    <h1 class="encabezado">Preguntas frecuentes</h1>
                    <hr class="linea-titulo-abajo">
                    <p class="texto-arriba">
                        Para cualquier duda o aclaración favor de comunicarse a nuestros teléfonos o acudir a nuestras oficinas <br>con el personal de atención a usuarios.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Qué necesito para contratar mi servicio de Agua Potable?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Acudir a nuestras oficinas a realizar el trámite de su contrato, ya sea de domicilio, comercial o industrial, preferentemente acudir con la documentación correspondiente, más información en la sección de <a href="~/Contratos" target="_blank" class="texto-redireccion">contratos.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿En que lugares puedo pagar mi recibo del Agua?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>En las oficinas de SIMAS Sabinas, Gutierrez y OXXO.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cuántos días tengo para pagar mi recibo?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Usted cuenta con 7 días hábiles después del día de la facturación. SIMAS tiene dividida la cuidad por sectores de lectura, de facturación y dependiendo el lugar corresponde la fecha de pago.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    ¿Cuándo se amerita el corte de servicio?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Cuando se vence el tercer mes facturado y no a liquidado su adeudo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Costos del contrato del agua
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <p>Varia de acuerdo al tipo de contrato. Para conocer costos consulte en la sección <a href="~/Contratos" target="_blank" class="texto-redireccion">contratos.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Causas por las que mi recibo sale muy elevado
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <p>Puede ser causado por fugas, por elvarse la cantidad de consumidores en su domicilio (visitas), el medidor puede estar en mal estado o por la estación del año.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿Cómo puedo tomar mi propia lectura para saber mi consumo?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <p>Es muy sencillo, vea <a href="~/LeerMedidor" target="_blank" class="texto-redireccion">aprende a leer tú medidor.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    ¿Puedo pagar si olvide mi recibo en casa?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <p>Si, puede proporcionar el nombre a quien se imprime el recibo, número de cuenta o dirección.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    ¿Cuáles son las tarifas de simas?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <p>Vea el apartado <a href="~/Tarifas" target="_blank" class="texto-redireccion">tarifas.</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    ¿Existe algún subsidio al Agua Potable?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <p>Existe una prestación que tienen las personas pensionadas las cuales solo deben de reunir ciertos <a href="~/Pensionado" target="_blank" class="texto-redireccion">requisitos</a> , ser categoría doméstica. El descuento se realiza sobre los 50m3 consumidos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    ¿Cuánto equivale un M3?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <p>Equivale a 1,000 Lts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div>
</section>  