
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/programasyactividades.css">

<section style="height: 200px;">
    <h1 class="encabezado">Programas y actividades de cultura del agua</h1>
    <hr class="linea-titulo-abajo">
</section>
<section class="vacaciones">
    <div class="texto-vacaciones">
        <h3>Vacaciones en la biblioteca</h3>
        <p>Cada año el departamento de Cultura del Agua se suma a la tarea de llevar a los niños muchas actividades de aprendizaje y conciencia del agua durante el periodo vacacional, invitandolos atentamente a participar en las instalaciones de la Biblioteca Municipal de Sabinas, los pequeños se divierten miestras aprenden la importancia del agua en su vida diaria y como es que deben de cuidarla. Además se les proporciona y regalan cuadernos y otros útiles.</p>
    </div>
    <div class="imagen-vacaciones">
        <img src="~/img/vacacionesbiblioteca.jpg">
    </div>
</section>
<section class="clases" style="margin-top: 200px;">
    <div class="texto-clases">
        <h3>Regreso a clases</h3>
        <ul style="list-style: disc;">
            <li>Apoyo con material escolar a hijos de trabajadores SIMAS Sabinas.</li>
            <li>Platicas escolares tipo conferecnia sobre el uso y cuidado en primarias, secundarias y preparatorias, "AGUAS CON EL AGUA".</li>
            <li>Programa "ESCRIBE UNA CANCIÓN A SIMAS SABINAS", participan todos los niveles educativos.</li>
            <li>Conferencia con trabajadores de SIMAS Sabinas, motivacional.</li>
            <li>Concursos de periódico mural a nivel primaria sobre el cuidado del agua.</li>
            <li>Guardianes del agua en tu casa (Seleccionaremos un usuario por semana que tenga alto consumo y le apoyaremos con chequeo de su red y reparación de fugas.</li>
            <li>Pinta bardas de cultura del agua.</li>
            <li>Entrega de tripticos, platicas y videos de cultura del agua a jardines de niños.</li>
        </ul>
    </div>
    <div class="imagen-clases">
        <img src="~/img/utiles.jpg">
    </div>
</section>
<section class="platicas" style="margin-bottom: 200px;">
    <div class="texto-platicas">
        <h2 class="encabezado">Platicas escolares</h2>
        <h3>Tema ¿Para ti que valor tiene el agua?</h3>
        <p>Este programa tiene como objetivo concientizar a la población estudiantil al cuidado, uso y consumo del agua, ya que con el paso del tiempo se ha ido perdiendo la cultura y el valor de este tan vital líquido.</p>
        <h3>Objetivo y misión de las platicas</h3>
        <p>Debido a las altas temperaturas el departamento de cultura del agua tiene la obligación de informar a los alumnos, maestros y población en general sobre la importante tarea de crear un fenómeno comunicacional sobre el cuidado del agua y llevarlo a la práctica.</p>
    </div>
    <div class="imagen-platicas">
        <img src="~/img/platicas1.jpg">
    </div>
</section> 