
@{
    Layout = "_Layout";
}


<link rel="stylesheet" href="../css/conoceturecibo.css">

<section class="recibo-seccion">
    <div class="container">
        <h2 class="encabezado">Conoce tu recibo</h2>
        <hr class="linea-titulo-abajo">
        <p>Simas Sabinas pone a su disposición este recibo, con la finalidad de detallar su cuenta y consumos de agua</p>
    </div>
    <div class="contenedor-recibo">
        <img class="recibo" src="~/img/recibo.jpg">
    </div>
</section>