
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/tarifas.css">

<section style="height: 200px;">
    <h1 class="encabezado">Tarifas SIMAS Sabinas 2020</h1>
    <hr class="linea-titulo-abajo">
</section>
<section class="text">
    <div class="primer-texto">
        <p>Basado en la desentralización y municipalización de SIMAS SABINAS, se darán inicio a las labores de servicio y mantenimiento de las redes municipales de las mismas. Simas maneja tarifas para el cobro de consumo de agua comercial, industrial y doméstico (popular y público), a continuación se detallan los cargos que a usted le puedan aparecer en su recibo de agua, los cuáles son:</p>
    </div>
</section>
<section class="tablas popular">
    <div class="nombre">
        <h2 class="subtitulo">Popular</h2>
    </div>
    <div class="tabla">
        <table>
            <tr id="header">
                <th class="column1">Inicial M3</th>
                <th class="column2">Final M3</th>
                <th class="column3">Costo</th>
            </tr>
            <tr>
                <td class="column1">0</td>
                <td class="column2">10</td>
                <td class="column3">51.87</td>
            </tr>
            <tr>
                <td class="column1">11</td>
                <td class="column2">15</td>
                <td class="column3">6.22</td>
            </tr>
            <tr>
                <td class="column1">16</td>
                <td class="column2">20</td>
                <td class="column3">6.26</td>
            </tr>
            <tr>
                <td class="column1">21</td>
                <td class="column2">30</td>
                <td class="column3">7.47</td>
            </tr>
            <tr>
                <td class="column1">31</td>
                <td class="column2">50</td>
                <td class="column3">7.76</td>
            </tr>
            <tr>
                <td class="column1">51</td>
                <td class="column2">75</td>
                <td class="column3">8.64</td>
            </tr>
            <tr>
                <td class="column1">76</td>
                <td class="column2">100</td>
                <td class="column3">9.47</td>
            </tr>
            <tr>
                <td class="column1">101</td>
                <td class="column2">150</td>
                <td class="column3">11.28</td>
            </tr>
            <tr>
                <td class="column1">151</td>
                <td class="column2">175</td>
                <td class="column3">12.57</td>
            </tr>
            <tr>
                <td class="column1">176</td>
                <td class="column2">200</td>
                <td class="column3">12.57</td>
            </tr>
            <tr>
                <td class="column1">201</td>
                <td class="column2">999,999</td>
                <td class="column3">19.61</td>
            </tr>
        </table>
    </div>
    <div class="pie-tabla">
        <p>Se aumenta el 28% sobre el consumo de agua para el cálculo del drenaje</p>
    </div>
</section>
<section class="tablas comercial">
    <div class="nombre">
        <h2 class="subtitulo">Comercial</h2>
    </div>
    <div class="tabla">
        <table>
            <tr id="header">
                <th class="column1">Inicial M3</th>
                <th class="column2">Final M3</th>
                <th class="column3">Costo</th>
            </tr>
            <tr>
                <td class="column1">0</td>
                <td class="column2">10</td>
                <td class="column3">110.30</td>
            </tr>
            <tr>
                <td class="column1">11</td>
                <td class="column2">15</td>
                <td class="column3">13.60</td>
            </tr>
            <tr>
                <td class="column1">16</td>
                <td class="column2">20</td>
                <td class="column3">17.15</td>
            </tr>
            <tr>
                <td class="column1">21</td>
                <td class="column2">30</td>
                <td class="column3">18.20</td>
            </tr>
            <tr>
                <td class="column1">31</td>
                <td class="column2">50</td>
                <td class="column3">19.02</td>
            </tr>
            <tr>
                <td class="column1">51</td>
                <td class="column2">75</td>
                <td class="column3">19.59</td>
            </tr>
            <tr>
                <td class="column1">76</td>
                <td class="column2">100</td>
                <td class="column3">20.68</td>
            </tr>
            <tr>
                <td class="column1">101</td>
                <td class="column2">150</td>
                <td class="column3">24.49</td>
            </tr>
            <tr>
                <td class="column1">151</td>
                <td class="column2">175</td>
                <td class="column3">27.21</td>
            </tr>
            <tr>
                <td class="column1">176</td>
                <td class="column2">200</td>
                <td class="column3">27.21</td>
            </tr>
            <tr>
                <td class="column1">201</td>
                <td class="column2">999,999</td>
                <td class="column3">34.27</td>
            </tr>
        </table>
    </div>
    <div class="pie-tabla">
        <p>Se aumenta el 33% sobre el consumo de agua para el cálculo del drenaje</p>
    </div>
</section>
<section class="tablas industrial">
    <div class="nombre">
        <h2 class="subtitulo">Industrial</h2>
    </div>
    <div class="tabla">
        <table>
            <tr id="header">
                <th class="column1">Inicial M3</th>
                <th class="column2">Final M3</th>
                <th class="column3">Costo</th>
            </tr>
            <tr>
                <td class="column1">0</td>
                <td class="column2">10</td>
                <td class="column3">116.85</td>
            </tr>
            <tr>
                <td class="column1">11</td>
                <td class="column2">15</td>
                <td class="column3">14.96</td>
            </tr>
            <tr>
                <td class="column1">16</td>
                <td class="column2">20</td>
                <td class="column3">17.96</td>
            </tr>
            <tr>
                <td class="column1">21</td>
                <td class="column2">30</td>
                <td class="column3">19.13</td>
            </tr>
            <tr>
                <td class="column1">31</td>
                <td class="column2">50</td>
                <td class="column3">20.93</td>
            </tr>
            <tr>
                <td class="column1">51</td>
                <td class="column2">75</td>
                <td class="column3">21.87</td>
            </tr>
            <tr>
                <td class="column1">76</td>
                <td class="column2">100</td>
                <td class="column3">23.79</td>
            </tr>
            <tr>
                <td class="column1">101</td>
                <td class="column2">150</td>
                <td class="column3">28.16</td>
            </tr>
            <tr>
                <td class="column1">151</td>
                <td class="column2">175</td>
                <td class="column3">32.53</td>
            </tr>
            <tr>
                <td class="column1">176</td>
                <td class="column2">200</td>
                <td class="column3">32.53</td>
            </tr>
            <tr>
                <td class="column1">201</td>
                <td class="column2">999,999</td>
                <td class="column3">39.52</td>
            </tr>
        </table>
    </div>
    <div class="pie-tabla">
        <p>Se aumenta el 33% sobre el consumo de agua para el cálculo del drenaje</p>
    </div>
</section>
<section class="texto-abajo">
    <div class="segundo-texto">
        <h2 class="subtitulo">Por ejemplo:</h2>
        <p>
            En un consumo de 11m3 tarifa comercial tendría un costo de 13.60, el cálculo sería de la siguiente manera:
            <br>11 m3 x 13.60= 149.60 x 33% (drenaje sobre el consumo de agua)= 49.37 <br>149.60 + 49.37= 198.97 (subtotal) x 16%(IVA)= 198.97+ 31.83 = <strong>$230.80 TOTAL A PAGAR</strong>
        </p>

        <ul style="list-style: disc;">
            <li>Simas lleva a cabo un programa del cuidado del agua, el cuál genera multas por regar en horarios no apropiados (lo permitido es de <strong>10:00 p.m a 6:00 a.m)</strong></li>
            <li>Simas sansionará a usuarios, cuyas tomas estén abasteciendo 2 o 3 casas</li>
        </ul>
        <p>
            Le hacemos la invitación a que acuda a nuestras oficinas para hacer la revisión de su toma. Para cualquier duda o aclaración, comunicarse a los teléfonos: 612 6327 y 612 5757
            quedando a sus apreciables ordenes.
        </p>
        <p><strong>Departamento Comercial</strong></p>
    </div>
</section>   