
@{
    Layout = "_Layout";
}


<link rel="stylesheet" href="../css/transparencia.css">

<section style="height: 200px;">
    <h1 class="encabezado">Transparencia</h1>
    <hr class="linea-titulo-abajo">
</section>
<section class="text">
    <div class="primer-texto">
        <p>Para la aclaración de cualquier duda o información adicional a la presentada en este sitio bajo las obligaciones de la Ley Estatal de Transparencia favor de presentarse en nuestras oficinas, o bien comunicarse vía telefónica: <br> (861) 612 2014, <br> (861) 612 5656 y <br> (861) 612 6327 <br><strong>correo electrónico: </strong><br> simas_sabinas@hotmail.com, <br> atencion_usuarios@simassabinas.com.mx</p>
    </div>
    <div class="logos">
        <div class="logo">
            <a target="_blank" href="http://www2.icai.org.mx:8282/ipo/dependencia.php?dep=168#pageload"><img src="/icons/icai.png"></a>
        </div>
        <div class="logo">
            <a target="_blank" href="https://www.plataformadetransparencia.org.mx/web/guest/inicio"><img src="/icons/pnt.png"></a>
        </div>
    </div>
</section>    