
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="../css/transparenciaLGCG.css">

<section style="height: 200px;">
    <h1 class="encabezado">Transparencia LGCG</h1>
    <hr class="linea-titulo-abajo">
</section>
<section>
    <div class="primer-texto">
        <p>Aquí se presenta toda la información aplicable a nuestro organismo bajo la Ley General de Contabilidad Gubernamental</p>
    </div>
    <section style="background-color: #FAFAFA;" class="categorias">
        <div class="contenido">
            <div class="card">
                <h2 class="nombre">Ley de disciplina financiera</h2>      
                    <a class="ver" href="~/TransparenciaLGCGCategoria">Ver más</a>
            </div>
            <div class="card">
                <h2 class="nombre">Información financiera</h2>
                <a class="ver" href="~/TransparenciaLGCGCategoria">Ver más</a>
            </div>
        </div>
        <div class="contenido">
            <div class="card">
                <h2 class="nombre">Información presupuestal</h2>
                <a class="ver" href="~/TransparenciaLGCGCategoria">Ver más</a>
            </div>
            <div class="card">
                <h2 class="nombre">Información programática</h2>
                <a class="ver" href="~/TransparenciaLGCGCategoria">Ver más</a>
            </div>
        </div>
        <div class="contenido">
            <div class="card">
                <h2 class="nombre">Otra información</h2>
                <a class="ver" href="~/TransparenciaLGCGCategoria">Ver más</a>
            </div>
            <div class="card">
                <h2 class="nombre">Titulo VLGCG</h2>
                <a class="ver" href="~/TransparenciaLGCGCategoria">Ver más</a>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="primer-texto">
            <p>Para la aclaración de cualquier duda o mayor información favor de presentarse en nuestras oficinas<br> o comunicarse vía telefónica o correo electrónico</p>
            <p><strong>Teléfonos:</strong></p>
            <p>(861) 612 2014, (861) 612 5656 y (861) 612 6327</p>
            <p><strong>Correo electrónico:</strong></p>
            <p>simas_sabinas@hotmail.com</p>
            <p>atencion_usuarios@simassabinas.com.mx</p>
            <p><strong>ATENTAMENTE SIMAS SABINAS</strong></p>
        </div>
    </section>
</section>
