
@{
    Layout = "_Layout";
}


<link rel="stylesheet" href="../css/transparenciaarchivos.css">

<section style="height: 200px;">
    <h1 class="encabezado">Transparencia LGCG</h1>
    <hr class="linea-titulo-abajo">
</section>
<section class="text">
    <div class="primer-texto">
        <p>Aquí se presenta toda la información aplicable a nuestro organismo bajo la Ley General de Contabilidad Gubernamental</p>
    </div>
    <section class="categorias">
        <div class="listas">
            <h1 class="nombrecategoria">Cumplimiento de ley de disciplina financiera</h1>
            <hr class="linea-nombre-abajo">
            <ul style="list-style: none;">
                <li><a href="www.google.com" target="_blank" ><i class="far fa-file-pdf"></i>&nbsp;Cumplimiento de Ley de Disciplina Financiera 2016</a></li>
                <li><a href="#"><i class="far fa-file-pdf"></i>&nbsp;Cumplimiento de Ley de Disciplina Financiera 1ER Trimestre 2018</a></li>
                <li><a href="#"><i class="far fa-file-pdf"></i>&nbsp;Cumplimiento de Ley de Disciplina Financiera 2do Trimestre 2018</a></li>
                <li><a href="#"><i class="far fa-file-pdf"></i>&nbsp;Cumplimiento de Ley de Disciplina Financiera 3er Trimestre 2018</a></li>
                <li><a href="#"><i class="far fa-file-pdf"></i>&nbsp;Cumplimiento de Ley de Disciplina Financiera 2do Trimestre 2019</a></li>
                <li><a href="#"><i class="far fa-file-pdf"></i>&nbsp;Cumplimiento de Ley de Disciplina Financiera 3er Trimestre 2019</a></li>

            </ul>
        </div>
    </section>
