@model IEnumerable<SIMAS.Models.Documento>
@{
    Layout = "~/Areas/Administrador/views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/css/admindocumentos.css">

<div class="card mb-3" style="margin-top: 10%; padding: 0px;">
    <div class="card-header">

        <h3>Lista documentos</h3>
        <a href="~/Administrador/AgregarDocumento"> <i class="fas fa-plus"></i> <span>Añadir un documento</span></a>
    </div>
    <div class="card-body">
        <table id="example" class="table display row-border cell-border table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre archivo</th>
                    <th>Categoria</th>
                    @*<th>Subcategoria</th>*@
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Nombre</th>
                        <th>@item.IdCategoriaNavigation.Nombre</th>
                        @*<th>@item.IdSubCategoriaNavigation.Nombre</th>*@
                        <th>
                            <a href="~/Administrador/EditarDocumento/@item.IdDocumento" class="a-edit">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="javascript:eliminar(@item.IdDocumento)" class="a-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>

        <form method="post" action="~/Administrador/DocumentosLGCG/EliminarDocumento">
            <input name="id" id="idDocumento" type="hidden" />
        </form>

        <script>
            function eliminar(idDocumento) {
                document.getElementById("idDocumento").value = idDocumento;
                if (confirm('¿Desea eliminar este documento?')) {
                    document.forms[0].submit()
                };
            }
        </script>
    </div>
</div>